<div class="container">
    <div class="row jumbo col-lg-12 d-block">
        <div class="jumbotron">
            <h1 class='mainHeading'></h1>
            <h1 class='mainHeading'>Locals Only</h1>
            <h2 class='subHeading'>Comment on Local Doings and Happenings</h2>
        </div>
    </div>
    <div class="row mainContent d-block">
        <div class="col-8 articles">
            <h3>Latest Doins'</h3>
            {{#article}}
            <div class='card'>
                <div class="card-body p-2">
                    <h4 class="card-title"><a href={{this.link}}>{{this.title}}</a></h4>
                </div>
                <div class="row p-2">
                    <div class='card-text col-12'>
                        <h5>Banter</h5>
                        <button class='btn btn-sm commBtn' id={{this.id}}>Comment</button>
                        <div class='comments' id={{this.id}}>
                        </div>
                        {{#comment}}
                        <div class="comment">{{this.user}} said {{this.body}}</div>
                        {{/comment}}
                    </div>
                </div>
                {{!-- <div class='row p-2'>
                    <div class='card-text col-2 votes'>
                        {{this.likes}} people like this story.
                    </div>
                    <div class='col-1'>
                        <button class='btn' id='up'>Liked</button>
                    </div>
                    <div class='col-1'>
                        <button class='btn' id='down'>Disliked</button>
                    </div>
                </div> --}}
            </div>
            {{/article}}

        </div>
    </div>

    {{!-- <footer>
        <div class="container footer">
            <span class="text-muted my-3">Made by Jack Ryan 2019</span>
        </div>
    </footer> --}}
</div>